body{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    position: relative;
}
#navbar{
    padding: 10px;
    height: 120px;
    background-color: #003580;
    
}
#logo i{
    margin-right: 10px;
}
#nav-1{
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    padding: 10px;
    font-size: 25px;
    
}
.btn{
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color:white;
    background-color: #003580;
    font-size: 15px;
}
.btnp{
    border: 1px solid white;
}
.spe{
   background-color: white;
    color: #003580;
}

#nav-2{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: left;
    color: white;
    gap: 40px;
}
.nav-2-Item{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
}
.i1{
    border: 1px solid white;
}
.nav-2-Item:hover{
    background-color: #153f7b;
}
#banner{
    height: 500px;
    width: 100%;
    position: relative;

}
#banner img{
height: 100%;
width: 100%;

}
#banner div{
    position: absolute;
    top: 30px;
    left:20%;
    font-size: 30px;
    color: white;
}
#banner button{
    padding: 20px;
    background-color: #003580;
    color: white;
    border: none;
    font-size: 20px;
}
#searchbar{
    width: 60%;
    margin: auto;
    height: 30px;
    background-color: #febb02;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightslategray;
    padding:10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    left: 20%;
    
}
.searchBarItem{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:space-around ;
    height: 30px;
    width: 23%;
    background-color: white;
    padding: 8px;
    border-radius: 3px;
    

}
#searchinput{
    border: none;
    outline:none;
}
#searchdate{
    color: lightslategray;
    cursor: pointer;
    border: none;
}
.searchBarItem input{
    color: lightslategray;
    cursor: pointer;
    height: 30px;

    border: #003580;
    

    
}
#num{
    width: 100px;
    height: 30px;
}
#middleSection{
    width: 60%;
    margin: auto;
    margin-top: 80px;

}
#offerImage{
    position: relative;

}
#offercont{
    position: absolute;
    top:10px; 
    color: white;
    margin-left: 20px;
}
#offercont p{
    color: lightslategray;
}
#offerimg{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    
    
}
.flex{
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}
#exploreindiacont{
    
    overflow-x:scroll;
    
}
#exploreindiacont::-webkit-scrollbar{
    width: 0px;
   
}

#exploreindiacont img{
    height: 200px;
    width: 200px;
}

#exploreindiacont h3{
    margin: 0px;
}
#exploreindiacont p{
    margin: 0px;
    color: lightslategray;
}


#browsecont img{
    width: 250px;
    height: 220px;
}

#browsecont h3{
    margin: 0px;
}
#browsecont p{
    margin: 0px;
    color: lightslategray;
}
#browsecont div:hover{
    transform: scale(1.1);
    transition: 1s;
}
#candolimimg img{
 height: 100%;
 width: 100%;
}
#candolimimg div{
    margin-top: 30px;
    width: 50%;
    height: auto;
    
}
.candolimimgcont{
    position: relative;
    overflow: hidden;
}
#candolimimg img:hover{
    transform: scale(1.2);
    transition: 1s;
    overflow: hidden;
     
}

.candolimimgcont div{
    position: absolute;
    bottom: 70%;
    color: white;
    margin-left: 30px;
    

}
#homecont img{
    width: 250px;
    height: 220px;
}
#homecont h3{
    margin: 0px;
}
#homecont p{
    margin:5px;
}
#homecont div:hover{
    transform: scale(1.1);
    transition: 1s;
    
}
#connectcont img{
    width: 250px;
    height: 250px;
}
#connectcont{
    display: flex;
    justify-content: left;
    gap: 20px;
}
#connectcont h3{
    margin: 0px;
}
#connectcont p{
    margin:5px;
}
#destinationcont{
    display: flex;
    gap: 20px;
}
#destinationcont button{
    background-color:white;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    color: #003580;
}
#destinationcont div:nth-child(1) button:nth-child(1){
    border: 1px solid #003580;
}
#destinationcont button:hover{
    background-color: #c3d8f5;
}
#list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    
    
}
#list div p{
margin-top: 0px;
}
#list div h4{
    margin: 0px;
}
.foot-1{
    width: 100%;
    height: 150px;
    background-color: #003580;
    color: white;
    text-align: center;
    padding: 30px;
}
.margin{
    margin-top: 0px;
    margin-bottom: 0px;
}

.foot-1 input{
    height: 30px;
    width: 300px;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 30px;
}
.foot-1 button{
    height: 50px;
    width: 120px;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #0071c2;
    color: white;
}
.foot-2{
    width: 100%;
    height: 50px;
    background-color: #0071c2;
    color: white;
    text-align: center;
    padding: 10px;    
}
.foot-2 button{
    background-color: #0071c2;
    color: white;
    border: 1px solid white;
    padding: 10px;
    height: 40px;
    width: 200px;
    font-size: 15px;
    font-weight: 500;
    font-weight: bold;
}
.foot-3{
    margin-top: 2px;
    width: 100%;
    height: 50px;
    background-color: #0071c2;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.foot-3 a{
    color: white;
    margin-right: 30px;
    font-weight: bold;
}
#footlinks{
    width: 60%;
    margin: auto;
    color: #0071c2;
}
#footlinks li{
    list-style-type: none;
}
#partners{
    width: 60%;
    margin: auto;
    text-align: center;
    color: lightslategray;
    padding: 60px;
}
.partnerimg{
    display: flex;
    justify-content: center;
    gap: 20px;
    justify-content:space-evenly;
    padding: 30px;
}