body{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    position: relative;
}
#navbar{
    padding: 10px;
    height: 120px;
    background-color: #003580;
    
}
#logo i{
    margin-right: 10px;
}
#nav-1{
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    padding: 10px;
    font-size: 25px;
    
}
.btn{
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color:white;
    background-color: #003580;
    font-size: 15px;
}
.btnp{
    border: 1px solid white;
}
.spe{
   background-color: white;
    color: #003580;
}

#nav-2{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: left;
    color: white;
    gap: 40px;
}
.nav-2-Item{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
}
.i1{
    border: 1px solid white;
}
.nav-2-Item:hover{
    background-color: #153f7b;
}
#banner{
    height: 500px;
    width: 100%;
    position: relative;

}
#banner img{
height: 100%;
width: 100%;

}
#banner div{
    position: absolute;
    top: 30px;
    left:20%;
    font-size: 30px;
    color: white;
}
#banner button{
    padding: 20px;
    background-color: #003580;
    color: white;
    border: none;
    font-size: 20px;
}
#searchbar{
    width: 60%;
    margin: auto;
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightslategray;
    padding:10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    left: 20%;
    
}
.searchBarItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchinput{
    border: none;
    outline:none;
}
#searchdate{
    color: lightslategray;
    cursor: pointer;
}
#middleSection{
    width: 60%;
    margin: auto;
    margin-top: 60px;

}
#offerImage{
    position: relative;

}
#offercont{
    position: absolute;
    top:40px; 
    color: white;
    margin-left: 20px;
}
#offercont p{
    color: lightslategray;
}
#offerimg{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.flex{
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}
#exploreindiacont img{
    height: 200px;
    width: 200px;
}
#exploreindiacont h3{
    margin: 0px;
}
#exploreindiacont p{
    margin: 0px;
    color: lightslategray;
}


#browsecont img{
    width: 250px;
    height: 220px;
}
#browsecont h3{
    margin: 0px;
}
#browsecont p{
    margin: 0px;
    color: lightslategray;
}
#candolimimg img{
 height: 100%;
 width: 100%;
}
#candolimimg div{
    margin-top: 30px;
    width: 50%;
    height: 250px;
}
.candolimimgcont{
    position: relative;
}
.candolimimgcont div{
    position: absolute;
    bottom: 10px;
    color: white;
    margin-left: 30px;
}
#homecont img{
    width: 250px;
    height: 220px;
}
#homecont h3{
    margin: 0px;
}
#homecont p{
    margin:5px;
}
#connectcont img{
    width: 250px;
    height: 250px;
}
#connectcont{
    display: flex;
    justify-content: left;
    gap: 20px;
}
#connectcont h3{
    margin: 0px;
}
#connectcont p{
    margin:5px;
}
#destinationcont{
    display: flex;
    gap: 20px;
}
#destinationcont button{
    background-color:white;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
}
#list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    
    
}
#list div p{
margin-top: 0px;
}
#list div h4{
    margin: 0px;
}
